body{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
} 
.col-md-5{
    margin-top: 150px !important;
    background-color: whitesmoke;
    padding: 20px !important;
   
}
input{
    
    margin-top: 20px !important;
}
button{
    float: left;
    margin-top:20px !important;
}
.success{
    border: 3px solid green;
   
}
.error{
    border: 3px solid red;
}
small{
    color: red;
    font-weight: bold;
    
}